{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/contact_cover.css' %}">
</head>
<body class = "text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">EasyDangerzone</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-link active" href="/contact">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Contact</h1>
    <p class="lead">피드백이나 문의 사항은 아래에 남겨주십시오.</p>
    <p class="medium">If you leave any feedback below, We will check.</p>
      <form name = "form" action="/sendmail/" method="post" enctype="text/plain" id="contact-form">
          <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default" name="name">성함/Name</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default" name="email">이메일/Email</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" name="comment">내용/comment</span>
              </div>
              <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
          <br>
          <button type="submit" class="btn btn-dark btn-block">전송/Submit</button>
{#          모든 내용이 채워졌을 때 전송되도록 #}
        </form>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>
</div>
</body>
